.my-footer {
    height: 5em;
    background-color: #163b65;
    margin-top: 1.5em;
    padding: 1em;
    color: #FFFFFF;
    font-size: 80%;
}

.room-image {
    max-width: 50%;
}

.datepicker {
    z-index: 10000;
}