{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">About Fort Smythe</h1>
            <hr>

            <p>
                <img style="float: right; display: inline-block; max-width: 400px; padding: 5px;" src="/static/images/outside.png">

                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet non. Quam vulputate dignissim suspendisse in est ante. Velit egestas dui id ornare arcu. Pharetra et ultrices neque ornare aenean euismod elementum nisi. Consectetur adipiscing elit ut aliquam purus sit. Odio aenean sed adipiscing diam donec. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Velit egestas dui id ornare arcu. Enim diam vulputate ut pharetra sit amet aliquam. Pharetra convallis posuere morbi leo. Neque egestas congue quisque egestas diam in. Morbi leo urna molestie at elementum. Elementum integer enim neque volutpat ac tincidunt vitae semper quis.

            </p>

            <p>
                Laoreet suspendisse interdum consectetur libero id faucibus nisl. Iaculis urna id volutpat lacus laoreet non curabitur. Ut tristique et egestas quis. Ornare quam viverra orci sagittis eu. Posuere lorem ipsum dolor sit amet consectetur. Sed id semper risus in hendrerit gravida rutrum quisque. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Aliquam etiam erat velit scelerisque. Vitae nunc sed velit dignissim. Fringilla est ullamcorper eget nulla facilisi. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi.
            </p>

            <p>
                Elementum eu facilisis sed odio morbi quis commodo odio. Faucibus pulvinar elementum integer enim. Integer malesuada nunc vel risus. Gravida arcu ac tortor dignissim. Sit amet massa vitae tortor condimentum. Nunc lobortis mattis aliquam faucibus purus. Volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim. Ipsum dolor sit amet consectetur. Massa eget egestas purus viverra accumsan in nisl. Dictum varius duis at consectetur lorem donec. Placerat orci nulla pellentesque dignissim enim sit amet. Aliquet lectus proin nibh nisl condimentum id. Risus viverra adipiscing at in tellus.
            </p>
        </div>
    </div>
</div>
{{end}}