{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Login</h1>

                <form method="post" action="/user/login" novalidate>

                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="form-group mt-3">
                        <label for="email">Email</label>
                        {{with .Form.Errors.Get "email"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"
                               id="email" autocomplete="off" type='email'
                               name='email' value="" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        {{with .Form.Errors.Get "password"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "password"}} is-invalid {{end}}"
                               id="password" autocomplete="off" type='password'
                               name='password' value="" required>
                    </div>

                    <hr>

                    <input type="submit" class="btn btn-primary" value="Submit">

                </form>

            </div>
        </div>
    </div>
{{end}}